.mm-gb-panel-row .components-base-control__help {
	margin-top: 10px;
}

.components-panel__row.mm-gb-panel-row .disabled {
	display: none;
}

.viewDocsLink {
	margin-bottom: 20px;
}

.smarttag-preview-input input.components-text-control__input {
	font-family: 'Courier New', Courier, monospace;
}

.block-editor-block-inspector .components-number-control {
	margin-bottom: 24px;
}
